<div class="col-sm-4">
    <div class="alert alert-success alert-dimissable" *ngIf="msg">
      <a class="close" (click)="closeAlert();">&times;</a>
      {{msg}}
    </div>
  </div>
  
<div class="row">

  <div class="col-sm-8">
    <h2>Lista de Formatos</h2>
    <table  id="tabla" class="table table-bordered">
      <thead>
        <th>Nombre</th>
        <th>Documento</th>
        <th>Arrendador</th>
        <th>Ciudad</th>
        <th>Dirección</th>
        <th>Telefono</th>
        <th>encabezado</th>
        <th>Opciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let formato of formatoService.formatos">
          <td>{{arrendatario.documento}}</td>
          <td>{{arrendatario.nombres}}</td>
          <td>{{arrendatario.apellidos}}</td>
          <td>{{arrendatario.direccion}}</td>
          <td>{{arrendatario.telefono}}</td>
          <td>
            <a alt="Editar" (click)="editar(formato)">
                <i alt="Editar" class="fa fa-pencil"></i>
            </a>

            <a alt="Ver Contratos" [routerLink]="['/arr-detalle', arrendatario._id]">
                <i alt="Ver Contratos" class="fa fa-list-ol"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-4">

    <div class=" col-sm-offset-2">    
      <button class="btn btn-primary col-sm-12 my-3" type="button" (click)="abrirformNuevo(formulario)">
          Nuevo Formato
      </button>
    </div>  
  
    <div [hidden]="ocultarformularioNuevo">
      <h2>{{accion}} Formato</h2>
      <form class="form-horizontal" #formulario="ngForm">   
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="arrendatarioService.arrendatarioSeleccionado._id"> 
        <div class="form-group">
          <label for="documento" class="control-label col-sm-2">Documento</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="documento" placeholder="Ingrese el numero de Documento" 
            #documento="ngModel" [(ngModel)]="arrendatarioService.arrendatarioSeleccionado.documento">
          </div>          
        </div>
        <div class="form-group">
          <label for="nombres" class="control-label col-sm-2">Nombres</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="nombres" placeholder="Ingrese los Nombres" 
            #nombres="ngModel" [(ngModel)]="arrendatarioService.arrendatarioSeleccionado.nombres">
          </div>          
        </div>
        <div class="form-group">
          <label for="apellidos" class="control-label col-sm-2">Apellidos</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="apellidos" placeholder="Ingrese los Apellidos" 
            #apellidos="ngModel" [(ngModel)]="arrendatarioService.arrendatarioSeleccionado.apellidos">
          </div>          
        </div>
        <div class="form-group">
          <label for="direccion" class="control-label col-sm-2">Direccion</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="direccion" placeholder="Ingrese la Direccion" 
            #direccion="ngModel" [(ngModel)]="arrendatarioService.arrendatarioSeleccionado.direccion">
          </div>          
        </div>
        <div class="form-group">
          <label for="telefono" class="control-label col-sm-2">Telefono</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="telefono" placeholder="Ingrese el Telefono" 
            #telefono="ngModel" [(ngModel)]="arrendatarioService.arrendatarioSeleccionado.telefono">
          </div>          
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button class="btn btn-success mr-2" type="submit" (click)="nuevo(formulario)">
                Guardar
              </button>
              <button class="btn btn-danger" type="button" (click)="cerrarformNuevo(formulario)">
                  Cancelar
              </button>
            </div>
          </div>
      </form>
    </div>

  </div>
  
</div>
