 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Consignataria</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
</head>
<body>
    <app-encabezado></app-encabezado>
    <app-menu *ngIf="router.url != '/'"></app-menu>
    <div class="container">    
        <router-outlet></router-outlet>
    </div> 
    <app-pie></app-pie>  
</body>
</html>