<div class="col-sm-4">
    <div class="alert alert-success alert-dimissable" *ngIf="msg">
      <a class="close" (click)="closeAlert();">&times;</a>
      {{msg}}
    </div>
  </div>
  
<div class="row">

  <div class="col-sm-8">
    <h2>Lista de Vehiculos</h2>
    <table  id="tabla" class="table table-bordered">
      <thead>
        <th>Vehiculo</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Tipo</th>
        <th>Color</th>
        <th>Manifiesto</th>
        <th>Placa</th>
        <th>Chasis</th>
        <th>Servicio</th>
        <th>Precio</th>
        <th>Seguro</th>
        <th>Vence</th>
        <th>Numero Seguro</th>
        <th>Tecnomecanica</th>
        <th>Propietario</th>
        <th>Documento</th>
        <th>Opciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let vehiculo of vehiculoService.vehiculos">
          <td>{{vehiculo.vehiculo}}</td>
          <td>{{vehiculo.marca}}</td>
          <td>{{vehiculo.modelo}}</td>
          <td>{{vehiculo.tipo}}</td>
          <td>{{vehiculo.color}}</td>
          <td>{{vehiculo.manifiesto}}</td>
          <td>{{vehiculo.placa}}</td>
          <td>{{vehiculo.chasis}}</td>
          <td>{{vehiculo.servicio}}</td>
          <td>{{vehiculo.precio}}</td>
          <td>{{vehiculo.seguro}}</td>
          <td>{{vehiculo.vence}}</td>
          <td>{{vehiculo.numero_seguro}}</td>
          <td>{{vehiculo.tecnomecanica}}</td>
          <td>{{vehiculo.propietario}}</td>
          <td>{{vehiculo.documento}}</td>
          <td>
            <a alt="Editar" (click)="editar(vehiculo)">
                <i alt="Editar" class="fa fa-pencil"></i>
            </a>

            <a alt="Ver Contratos" [routerLink]="['/veh-detalle', vehiculo._id]">
                <i alt="Ver Contratos" class="fa fa-list-ol"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-4">

    <div class=" col-sm-offset-2">    
      <button class="btn btn-primary col-sm-12 my-3" type="button" (click)="abrirformNuevo(formulario)">
          Nuevo Vehiculo
      </button>
    </div>  
  
    <div [hidden]="ocultarformularioNuevo">
      <h2>{{accion}} Vehiculo</h2>
      <form class="form-horizontal" #formulario="ngForm">   
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="vehiculoService.vehiculoSeleccionado._id"> 
        
        <input class="form-control" type="hidden" name="vehiculo" placeholder="Ingrese el Vehiculo" 
            #vehiculo="ngModel" [(ngModel)]="vehiculoService.vehiculoSeleccionado.vehiculo">

        <div class="form-group">
          <label for="marca" class="control-label col-sm-2">Marca</label>
          <div class="col-sm-10">
            <select class="form-control" name="marca" #marca="ngModel" 
            [(ngModel)]="vehiculoService.vehiculoSeleccionado.marca">
                <option value="NULL" selected >Seleccione la Marca</option>
                <option value="YAMAHA">YAMAHA</option>
                <option value="HONDA">HONDA</option>
                <option value="SUZUKI">SUZUKI</option>
                <option value="KAWASAKI">KAWASAKI</option>
                <option value="AKT">AKT</option>
                <option value="AUTECO">AUTECO</option>
                <option value="BAJAC">BAJAC</option>
                <option value="HERO">HERO</option>
                <option value="JIALING">JIALING</option>
                <option value="UMC">UMC</option>
            </select>           
          </div>          
        </div>
        <div class="form-group">
          <label for="modelo" class="control-label col-sm-2">Modelo</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="modelo" placeholder="Ingrese el Modelo" 
            #modelo="ngModel" [(ngModel)]="vehiculoService.vehiculoSeleccionado.modelo">
          </div>          
        </div>

        <input class="form-control" type="hidden" name="tipo" value="TURISMO" 
            #tipo="ngModel" [(ngModel)]="vehiculoService.vehiculoSeleccionado.tipo">

        <div class="form-group">
          <label for="color" class="control-label col-sm-2">Color</label>
          <div class="col-sm-10">
            <select class="form-control" name="color" #color="ngModel" 
            [(ngModel)]="vehiculoService.vehiculoSeleccionado.color">
                <option value="NULL" selected >Seleccione el Color</option>
                <option value="BLANCO">BLANCO</option>
                <option value="NEGRO">NEGRO</option>
                <option value="ROJO">ROJO</option>
                <option value="AZUL">AZUL</option>
                <option value="GRIS">GRIS</option>
                <option value="VERDE">VERDE</option>
                <option value="NARANJA">NARANJA</option>
                <option value="ROSADO">ROSADO</option>
                <option value="FUCSIA">FUCSIA</option>
                <option value="TURQUESA">TURQUESA</option>
            </select>
          </div>          
        </div>
        <div class="form-group">
          <label for="manifiesto" class="control-label col-sm-2">Manifiesto</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="manifiesto" placeholder="Ingrese el Manifiesto" 
            #manifiesto="ngModel" [(ngModel)]="vehiculoService.vehiculoSeleccionado.manifiesto">
          </div>          
        </div>
        <div class="form-group">
          <label for="placa" class="control-label col-sm-2">Placa</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="placa" placeholder="Ingrese la Placa" 
            #placa="ngModel" [(ngModel)]="vehiculoService.vehiculoSeleccionado.placa">
          </div>          
        </div>
        <div class="form-group">
          <label for="chasis" class="control-label col-sm-2">Chasis</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="chasis" placeholder="Ingrese el numero de Chasis" 
            #chasis="ngModel" [(ngModel)]="vehiculoService.vehiculoSeleccionado.chasis">
          </div>          
        </div>
        
        <input class="form-control" type="hidden" name="servicio" value="PARTICULAR" 
            #servicio="ngModel" [(ngModel)]="vehiculoService.vehiculoSeleccionado.servicio">

        <div class="form-group">
          <label for="precio" class="control-label col-sm-2">Precio</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="precio" placeholder="Ingrese el Precio" 
            #precio="ngModel" [(ngModel)]="vehiculoService.vehiculoSeleccionado.precio">
          </div>          
        </div>
        
        <input class="form-control" type="hidden" name="seguro" value="SI"
          #seguro="ngModel" [(ngModel)]="vehiculoService.vehiculoSeleccionado.seguro">
        
        <input class="form-control" type="hidden" name="vence" value="SI"
          #vence="ngModel" [(ngModel)]="vehiculoService.vehiculoSeleccionado.vence">

        <input class="form-control" type="hidden" name="numero_seguro" value="SI"
          #numero_seguro="ngModel" [(ngModel)]="vehiculoService.vehiculoSeleccionado.numero_seguro">
        
        <input class="form-control" type="hidden" name="tecnomecanica" value="SI"
          #tecnomecanica="ngModel" [(ngModel)]="vehiculoService.vehiculoSeleccionado.tecnomecanica">

        <div class="form-group">
          <label for="propietario" class="control-label col-sm-2">Propietario</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="propietario" placeholder="Escriba el Propietario" 
            #propietario="ngModel" [(ngModel)]="vehiculoService.vehiculoSeleccionado.propietario">
          </div>          
        </div>
        <div class="form-group">
          <label for="documento" class="control-label col-sm-2">Documento Propietario</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="documento" placeholder="Documento del Propietario" 
            #documento="ngModel" [(ngModel)]="vehiculoService.vehiculoSeleccionado.documento">
          </div>          
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button class="btn btn-success mr-2" type="submit" (click)="nuevo(formulario)">
                Guardar
              </button>
              <button class="btn btn-danger" type="button" (click)="cerrarformNuevo(formulario)">
                  Cancelar
              </button>
            </div>
          </div>
      </form>
    </div>

  </div>
  
</div>
