<div class="row">
    <div class="col-sm-12">
      <h5 class="d-inline text-muted">Lista de Contratos Asociados al Arrendatario:  </h5>
      <h3 class="d-inline" > {{arrendatario}}</h3>
      <hr>
      <table class="table table-bordered">
        <thead>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Vigencia</th>
          <th>Marca</th>
          <th>Placa</th>
          <th>Modelo</th>
          <th>Color</th>
          <th>Opciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let conntrato of contratos">
            <td>{{conntrato.fecha}}</td>
            <td>{{conntrato.hora}}</td>
            <td>{{conntrato.vigencia}}</td>
            <td>{{conntrato._id_vehiculo.marca}}</td>
            <td>{{conntrato._id_vehiculo.placa}}</td>
            <td>{{conntrato._id_vehiculo.modelo}}</td>
            <td>{{conntrato._id_vehiculo.color}}</td>
            <td>              
              <a alt="Generar Contrato" [routerLink]="['/con-generar', conntrato._id]">
                  <i alt="Generar Contrato" class="fa fa-list-ol"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
