<div class="col-sm-4">
    <div class="alert alert-success alert-dimissable" *ngIf="msg">
      <a class="close" (click)="closeAlert();">&times;</a>
      {{msg}}
    </div>
  </div>
  
<div class="row">

  <div class="col-sm-8">
    <h2>Lista de Contratos</h2>
    <table  id="tabla" class="table table-bordered">
      <thead>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Valor</th>
        <th>Vigencia</th>
        <th>Días Antelacion Prorroga</th>
        <th>Documento</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Marca</th>
        <th>Color</th>
        <th>Placa</th>
        <th>Opciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let contrato of contratoService.contratos">
          <td>{{contrato.fecha}}</td>
          <td>{{contrato.hora}}</td>
          <td>{{contrato.valor}}</td>
          <td>{{contrato.vigencia}}</td>
          <td>{{contrato.antelacion_prorroga}}</td>
          <td>{{contrato._id_arrendatario.documento}}</td>
          <td>{{contrato._id_arrendatario.nombres}}</td>
          <td>{{contrato._id_arrendatario.apellidos}}</td>
          <td>{{contrato._id_vehiculo.marca}}</td>
          <td>{{contrato._id_vehiculo.color}}</td>
          <td>{{contrato._id_vehiculo.placa}}</td>
          <td>
            <a alt="Generar Contratos" [routerLink]="['/con-generar', contrato._id]">
                <i alt="Generar Contratos" class="fa fa-list-ol"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-4">

    <div class=" col-sm-offset-2">    
      <button class="btn btn-primary col-sm-12 my-3" type="button" (click)="abrirformNuevo(formulario)">
          Nuevo Contato
      </button>
    </div>  
  
    <div [hidden]="ocultarformularioNuevo">
      <h2>{{accion}} Contrato</h2>
      <form class="form-horizontal" #formulario="ngForm">   
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="contratoService.contratoSeleccionado._id"> 
        <div class="form-group">
          <label for="fecha" class="control-label col-sm-2">Fecha</label>
          <div class="col-sm-10">
            <input class="form-control" type="date" name="fecha" 
            #fecha="ngModel" [(ngModel)]="contratoService.contratoSeleccionado.fecha">
          </div>          
        </div>
        <div class="form-group">
          <label for="hora" class="control-label col-sm-2">Hora</label>
          <div class="col-sm-10">
            <input class="form-control" type="time" name="hora"
            #hora="ngModel" [(ngModel)]="contratoService.contratoSeleccionado.hora">
          </div>          
        </div>
        <div class="form-group">
          <label for="valor" class="control-label col-sm-2">Valor</label>
          <div class="col-sm-10">
            <input class="form-control" type="number" name="valor" placeholder="Ingrese el valor por día." 
            #valor="ngModel" [(ngModel)]="contratoService.contratoSeleccionado.valor">
          </div>          
        </div>
        <div class="form-group">
          <label for="vigencia" class="control-label col-sm-2">Vigencia</label>
          <div class="col-sm-10">
            <input class="form-control" type="date" name="vigencia" placeholder="Ingrese la Direccion" 
            #vigencia="ngModel" [(ngModel)]="contratoService.contratoSeleccionado.vigencia">
          </div>          
        </div>
        <div class="form-group">
          <label for="_id_arrendatario" class="control-label col-sm-2">Arrendatario</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="_id_arrendatario" placeholder="Escriba el Arrendatario" 
            #_id_arrendatario="ngModel" [(ngModel)]="contratoService.contratoSeleccionado._id_arrendatario">
          </div>          
        </div>
        <div class="form-group">
          <label for="_id_vehiculo" class="control-label col-sm-2">Vehiculo</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="_id_vehiculo" placeholder="Escriba el Vehiculo" 
            #_id_vehiculo="ngModel" [(ngModel)]="contratoService.contratoSeleccionado._id_vehiculo">
          </div>          
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button class="btn btn-success mr-2" type="submit" (click)="nuevo(formulario)">
                Guardar
              </button>
              <button class="btn btn-danger" type="button" (click)="cerrarformNuevo(formulario)">
                  Cancelar
              </button>
            </div>
          </div>
      </form>
    </div>

  </div>
  
</div>
