<nav *ngIf="mostrarMenu" id="menu" class="navbar navbar-expand-lg">
  <a routerLink="/" routerLinkActive="active" class="navbar-brand">Inicio</a>
  <a routerLink="/arrendatario" routerLinkActive="active" class="navbar-brand">Arrendatario</a>
  <a routerLink="/vehiculo" routerLinkActive="active" class="navbar-brand">Vehiculo</a>
  <a routerLink="/contrato" routerLinkActive="active" class="navbar-brand">Contrato</a>
  <a routerLink="/formato" routerLinkActive="active" class="navbar-brand">Formato</a>
</nav>
