<div class="row">
  <div class="card tarjeta" style="width: 18rem;">      
    <div class="card-body">
        <h5 class="card-title text-center">
          <img src="../../../assets/imagenes/arrendatario.png" alt="Formato">
        </h5>
      <p class="card-text">Muestra todos los arrendatarios, permite crear y editar; Permite ver los Contratos donde se han asociado.</p>
      <a routerLink="/arrendatario" class="btn btn-primary">Ver Arrendatarios</a>
    </div>
  </div>

  <div class="card tarjeta" style="width: 18rem;">    
    <div class="card-body">
        <h5 class="card-title text-center">
          <img src="../../../assets/imagenes/vehiculo.jpg" width="64px" height="64px" alt="Vehiculo">
        </h5>
      <p class="card-text">Muestra todos los vehiculos, permite crear y editar; Permite ver los Contratos donde se han asociado.</p>
      <a routerLink="/vehiculo" class="btn btn-primary">Ver Vehiculos</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="card tarjeta" style="width: 18rem;">    
    <div class="card-body">
        <h5 class="card-title text-center">
          <img src="../../../assets/imagenes/contrato.png" alt="Contrato">
        </h5>
      <p class="card-text">Muestra todos los contratos, permite crear y editar contratos; tambien permite generarlos en PDF.</p>
      <a routerLink="/contrato" class="btn btn-primary">Ver Contratos</a>
    </div>
  </div>

  <div class="card tarjeta" style="width: 18rem;">
    
    <div class="card-body">
      <h5 class="card-title text-center">
        <img  src="../../../assets/imagenes/formato.png" alt="Formato">
      </h5>      
      <p class="card-text">Muestra todos los formatos, permite crear y editar formatos que son utilizados para generar los contratos en PDF.</p>
      <a routerLink="/formato" class="btn btn-primary">Ver Formatos</a>
    </div>
  </div>
</div>