/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.min.css";


body{
    background: #00C9FF;
    background: -webkit-linear-gradient(left, #00C9FF, #92FE9D);
    background: -moz-linear-gradient(left, #00C9FF, #92FE9D);
    background: -o-linear-gradient(left, #00C9FF, #92FE9D);
    background: linear-gradient(to left,  #00C9FF, #92FE9D);
}