
<div class="row">
    <div class="col-sm-12">
      <h5 class="d-inline text-muted">Lista de Contratos Asociados al Vehiculo:  </h5>
      <h3 class="d-inline" > {{vehiculo}}</h3>
      <hr>
      <table class="table table-bordered">
        <thead>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Vigencia</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Documento</th>
          <th>Telefono</th>
          <th>Dirección</th>
          <th>Opciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let conntrato of contratos">
            <td>{{conntrato.fecha}}</td>
            <td>{{conntrato.hora}}</td>
            <td>{{conntrato.vigencia}}</td>
            <td>{{conntrato._id_arrendatario.nombres}}</td>
            <td>{{conntrato._id_arrendatario.apellidos}}</td>
            <td>{{conntrato._id_arrendatario.documento}}</td>
            <td>{{conntrato._id_arrendatario.telefono}}</td>
            <td>{{conntrato._id_arrendatario.direccion}}</td>
            <td>              
              <a alt="Generar Contrato" [routerLink]="['/con-generar', conntrato._id]">
                  <i alt="Generar Contrato" class="fa fa-list-ol"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
